@import "@liveblocks/react-ui/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the root background is transparent so macOS vibrancy shows through */
html,
body,
#root {
  height: 100%;
}

body {
  background: transparent;
}

.lb-root {
  font-size: 14px;
  --lb-accent: rgb(3, 180, 224);
}
